<% layout('/layouts/boilerplate') %>

<div class="container mt-2">

    <a href="/listings">
        <button class="back-btn mb-3">
            <i class="fa-solid fa-caret-left"></i> Back
        </button>
    </a>

    <h2 class="category-title">Category: <%= category %></h2>
    <p class="category-subtitle">Explore listings curated under this category</p>

    <% if (listings.length === 0) { %>

        <div class="alert no-listing-msg" role="alert">
           No listings found in this category yet.
        </div>
    <% } else { %>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3">
            <% listings.forEach(listing => { %>
                <div class="col mb-4">
                    <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: inherit;">
                        <div class="listing-card card listing-card col shadow-sm p-3 mb-5 bg-body-dark rounded-2">
                            <img
                                src="<%= listing.image.url %>"
                                class="listing-img card-img-top shadow-sm p-3 mb-5 bg-body-tertiary rounded"
                                alt="<%= listing.title %>" style="height: 20rem;"
                            />

                            <div class="card-body">
                                <p class="card-text"><b><%= listing.title %></b></p>
                                <p class="card-text"><%= listing.location %>, <%= listing.country %></p>
                                <p> &#x20B9; <%= listing.price.toLocaleString("en-IN") %>/ night </p>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>

    <% } %>

</div>
